*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body
{
    background-image:url(https://wallpaperaccess.com/full/435709.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

.body-hebergement
{
    background-image:url(https://wallpaperaccess.com/full/435709.jpg);
    backdrop-filter: brightness(30%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}


nav
{   
    height: 60px;
    width: 100%;
    position:fixed;
    z-index: 100;
    background-color: rgb(54, 54, 54);
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;

    
}

.menu{
    transition: transform 0.3s;
}

.menu:hover{
    transform: scale(125%); /* Animation */
}

.container
{
    width: 100%;
    max-width: 3000px;
    height: 550px;
    z-index: 0;
    padding-bottom: 1000px;
    
}


.formulaire
{
    width: 40%;
    height: 450px;
    background-color: rgba(36, 36, 36, 0.733);
    border-radius: 2%;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 100px ;
    
}
.containerlarge
{
    width: 100%;
    max-width: 3000px;
    height: 550px;
    z-index: 0;
    padding-bottom: 1000px;
    color: antiquewhite;

}

tr{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;


}

.sup{
    color:red;
}

.formulairelarge
{
    width: 60%;
    width: 0 auto;
    background-color: rgba(36, 36, 36, 0.733);
    border-radius: 2%;
    margin: 200px auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around 10px;
    padding: 10 100px ;
    color: antiquewhite;
    
}

.button-admin{
    color: black;
}


h1{
    color: aliceblue;
}
a{
    text-decoration: none;
    color: white;
}

.search{

    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
}

.title{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    color: rgb(255, 255, 255);
}

input{
    background-color: transparent;
    border: .3rem solid #858585;
    border-radius: 60em;
    color: rgb(255, 255, 255);
    font-size: .9375rem;
    font-weight: 300;
    
    
}

.form-content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 250px;
    
}   

.search{
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition: width 2s, height 2s, background-color 2s, transform 0.5s;

}

.search:hover{
    color: white;
    transform: scale(130%);
}
table{
    border: 10px;
    border-radius: 60em;
    width: 50%;

}

.sup{
    display: flex;
    justify-content: center;
}

.form-text{
    text-align: center ;
}

.table-form{
    text-align:"center"; 
    border:"1px"; 
    width:"600px"; 
    line-height:40px;
}
/* pull */

/* card */



header{
    height: 60px;
    width: 100%;
}

.container_product{
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "a b b"
                         "a c c" 
                         "a c c" 
                         "a d e" 
                         "a f g" ;
    width: 90%;
    font-size: 15px;
    background-color: #47474760;
    border-radius: 15px;
    overflow: hidden;
    color: white;
    height: 220px;
    transition: 1s;
    margin: 35px auto;
}

.product_title{
    font-size: 22px;
    text-align: center;
    grid-area: b;
}

.product_img{
    grid-area: a;
    width: 300px;
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container_product:hover{
    transform: scale(1.05);
}

.product_desc{
    grid-area: c;
    height: auto;
    width: 90%;
    margin: 0 auto;
}

.product_nbr_beds{
    text-align: center;
    grid-area: d;

}

.product_nbr_bath{
    text-align: center;
    grid-area: e;
}

.product_location{
    text-align: center;
    grid-area: f;
}   

.product_price{
    text-align: center;
    grid-area: g;
}